<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>ShoppingListItems</ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="isEditMode" (click)="pushItem()">{{ 'SHOPPING_LIST_btn_done' | translate }}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid style="height: 100%; display: flex; flex-flow: column">
        <ion-row>
            <ion-col>
                <ion-list *ngIf="shoppingListItems.length > 0">
                    <ion-item-sliding *ngFor="let listItem of shoppingListItems; let i = index">
                        <ion-item detail="false">
                            <ion-checkbox></ion-checkbox>
                            <ion-input id="input-{{ listItem.shoppingListItemId }}" [(ngModel)]="listItem.title" (focusin)="onFocus(listItem)" (focusout)="onFocusOut(listItem)">
                                <p>{{ listItem.description }}</p>
                            </ion-input>
                            <ion-button fill="clear" [routerLink]="['details', listItem.shoppingListItemId]" *ngIf="currListItem.shoppingListItemId == listItem.shoppingListItemId">
                                <ion-icon name="information-circle-outline"></ion-icon>
                            </ion-button>
                        </ion-item>
                        <ion-item-options side="end">
                            <ion-item-option color="danger" expandable
                                             (click)="deleteItemById(listItem.shoppingListItemId)">Delete
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row class="fill-row">
            <ion-col>
                <ion-button class="fill-button" expand="full" fill="clear" (click)="pushItem()"></ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isEditMode">
        <ion-fab-button (click)="pushItem()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
